@font-face {
	  font-family: "typo-slab";
	  src: url("../font/custom/TypoSlabSerif-Light.ttf") format("truetype");
}
@font-face {
	font-family: "sweet-pea";
	src: url("../font/custom/sweet-pea.ttf") format("truetype");
}
@font-face {
	font-family: "bebas-neue";
	src: url("../font/custom/BebasNeue.otf") format("opentype");
}
@font-face {
	font-family: "basic-title";
	src: url("../font/custom/basictitlefont.ttf") format("truetype");
}
@font-face {
	  font-family: "futura";
	  src: url("../font/custom/futura.ttf") format("truetype");
}

html, body{
	font-family: typo-slab, courier;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
} 
main{
	flex: 1 0 auto;
}

.no-margin-bot {
	margin: 0 auto 0 !important;
	width: 100%;
}

.nav-flat{
	box-shadow: 0px 0px 0px !important;
	border-style: dotted;
	border-width: 0.15em 0px;
	border-color: #aaaaaa;
}

.nav-link{
	font-family: futura;
	font-size: 1.1rem !important;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.dropdown-link{
	font-family: futura;
	text-transform: uppercase;
	font-size: 1.0rem !important;
}

.dropdown-link li:hover{
	color: #80cbc4 !important;
	background-color: #7b7b7b !important;
}

.container-section{
	box-shadow: 0px 0px 5px 1px #aaaaaa;
	min-height: 100vh;
}

.main-text{
	text-align: justify;
	font-size: 1.0rem;
}
.main-section{
	padding: 0px 15px;
}
.main-list{
	margin: 0px 50px;
}
.main-list > li{
	list-style: circle;
}
.indent{
	margin: 0px 25px;
}

.social-links > a, .social-links > div > a {
	color: #7b7b7b;
}
.social-links > a:hover, .social-links > div > a:hover{
	color: #80cbc4;
}

h1, h2, h3 {
	font-family: sweet-pea, courier;
	color: #7b7b7b !important;
}

.dotted {
	bottom: 200px;
	border-style: dotted;
	border-color: #aaaaaa;
	border-width: 0.15em 0px 0px 0px!important;
}

.footer{
	font-size: 0.85em;
	margin-bottom: 0px;
}
.main-text > p > a{
	color: #80cbc4 !important;
}
.footer > a {
	color: #80cbc4 !important;
}
.main-text > p > a:hover{
	color: #7b7b7b !important;
}
.footer > a:hover {
	color: #7b7b7b !important;
}

.footer-color{
	font-size: 0.85em;
	text-transform: uppercase;
	color: #80cbc4;
	margin-top: 0px;
}

.lg-filler{
	min-height: 100px;
}

.success{
	border-radius: 10px;
	margin: 25px 0px;
	padding: 25px 0px;
	background-color: #4db6ac;
	color: #eeeeee;
	box-shadow: 0px 3px 10px 0px #aaaaaa;
}

.error{
	border-radius: 10px;
	margin: 25px 0px;
	padding: 25px 50px;
	background-color: #d32f2f;
	color: #eeeeee;
	box-shadow: 0px 3px 10px 0px #aaaaaa;
}

#gallery-main-lg,
#gallery-main-md,
#gallery-main-sm {
	max-width: 100%;
	max-height: 535px;
}

.gallery-wrap{
	min-height: 540px;
	max-height: 540px;
}

.thumb-row {
	max-height: 25px;
}

.thumbnail-img {
	max-width: 100%;
	max-height: 50px;
}
.thumbnail-img:hover {
	box-shadow: 0px 0px 10px 2px #aaaaaa;
}

/* label color */
.input-field label {
 color: #7b7b7b;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #80cbc4;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #80cbc4;
 box-shadow: 0 1px 0 0 #7b7b7b;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #7bdf79;
 box-shadow: 0 1px 0 0 #7b7b7b;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #d96060;
 box-shadow: 0 1px 0 0 #7b7b7b;
}
.waves-effect {
      background-color: #80cbc4;
}
