@font-face {
	  font-family: "typo-slab";
	  src: url("../font/custom/TypoSlabSerif-Light.ttf") format("truetype");
}
@font-face {
	font-family: "sweet-pea";
	src: url("../font/custom/sweet-pea.ttf") format("truetype");
}
@font-face {
	font-family: "bebas-neue";
	src: url("../font/custom/BebasNeue.otf") format("opentype");
}
@font-face {
	font-family: "basic-title";
	src: url("../font/custom/basictitlefont.ttf") format("truetype");
}
@font-face {
	  font-family: "futura";
	  src: url("../font/custom/futura.ttf") format("truetype");
}

html, body{
	font-family: typo-slab, courier;
	height: 100%;
} 

.no-margin-bot {
	margin: 0 auto 0 !important;
	width: 100%;
}

.nav-flat{
	box-shadow: 0px 0px 0px !important;
	border-style: dotted;
	border-width: 0.15em 0px;
	border-color: #aaaaaa;
}

.nav-link{
	font-family: futura;
	font-size: 1.1rem !important;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

#navlink > a {
	color: #7b7b7b !important;
}

#navlink > a:hover{
	color: #80cbc4;
	background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-link{
	font-family: futura;
	text-transform: uppercase;
	font-size: 1.0rem !important;
}

.dropdown-link li:hover{
	color: #80cbc4 !important;
	background-color: #7b7b7b !important;
}

.container-section{
	box-shadow: 0px 0px 5px 1px #aaaaaa;
	min-height: 100vh;
}

.main-text{
	text-align: justify;
	font-size: 1.0rem;
}
.main-section{
	padding: 0px 15px;
}

.social-links > a, .social-links > div > a {
	color: #7b7b7b;
}
.social-links > a:hover, .social-links > div > a:hover{
	color: #80cbc4;
}

h1, h2, h3 {
	font-family: sweet-pea, courier;
	color: #7b7b7b !important;
}

.dotted {
	bottom: 200px;
	border-style: dotted;
	border-color: #aaaaaa;
	border-width: 0.15em 0px 0px 0px!important;
}

.footer{
	font-size: 0.85em;
	margin-bottom: 0px;
}
.footer > a {
	color: #80cbc4;
}
.footer > a:hover {
	color: #7b7b7b;
}

.footer-color{
	font-size: 0.85em;
	text-transform: uppercase;
	color: #80cbc4;
	margin-top: 0px;
}
